@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */

html,
body,
body > div {
  @apply container mx-auto max-w-screen-lg min-h-full;
  font-family: "Open Sans", sans-serif;
}

* {
  @apply box-border;
}

a {
  @apply no-underline text-blue-600 dark:text-chromeYellow font-semibold;
}

a:hover {
  @apply no-underline text-blue-900 dark:text-chelseaGem;
}

p {
  @apply leading-relaxed text-lg
}

#__next-build-watcher {
  z-index: 1 !important;
}

.burger {
  @apply md:hidden flex flex-col justify-between h-5 w-8 cursor-pointer;
}

.burger-meat {
  height: 0.2rem;
  @apply transition duration-150 ease-in rounded-sm w-8 bg-raisinBlack dark:bg-gray-50;
}

.active .meat-1 {
  @apply transform  translate-y-2;
}

.active .meat-2 {
  @apply opacity-0;
}

.active .meat-3 {
  @apply transform -translate-y-2;
}

/* General Styles End */

/* Font Styles */

.robotoSlab {
  font-family: "Roboto Slab", serif;
}

.openSans {
  font-family: "Open Sans", serif;
}

/* Font Styles End */

/* Notion Styles */

.notion {
  @apply text-gray-800 dark:text-gray-200 font-medium;
}

.notion-text {
  padding: 6px 2px;
  font-family: "Open Sans", sans-serif !important;
}

.notion-bookmark {
  @apply bg-gray-50 dark:bg-gray-50;
}

.notion-bookmark:hover {
  @apply dark:bg-gray-200;
}

.notion-image-caption {
  @apply text-gray-900 dark:text-gray-400;
}

.notion-link {
  @apply no-underline text-blue-600 dark:text-chromeYellow !important;
}

.notion-link:hover {
  @apply underline text-blue-900 dark:text-chelseaGem !important;
}

.notion-quote {
  @apply my-1 !important;
}

.notion-code {
  @apply bg-blue-50 dark:bg-mineShaft !important;
}

.notion-inline-code {
  @apply text-blue-600 dark:text-chromeYellow !important;
}

/* Notion Styles End */

/* PrismJS Styles */

.toolbar-item {
  @apply p-1 !important;
  font-family: "Open Sans", sans-serif !important;
}

.url-link {
  text-decoration: underline;
}

.email-link {
  text-decoration: underline;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-raisinBlack dark:text-gray-300 !important;
}

.token.punctuation {
  @apply text-gray-500 dark:text-gray-300 !important;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  background-color: #f5f2f0 !important;
  color: #1b1b1e !important;
}

/* PrismJS Styles End */
