@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div {
  @apply container mx-auto max-w-screen-lg min-h-full;
  font-family: "Open Sans", sans-serif;
}

* {
  @apply box-border;
}

a {
  @apply no-underline text-blue-600 dark:text-chromeYellow font-semibold rounded p-1;
}

a:hover {
  @apply no-underline text-blue-900 dark:text-chromeYellow bg-blue-100 dark:bg-gray-800;
}

.robotoSlab {
  font-family: "Roboto Slab", serif;
}

.openSans {
  font-family: "Open Sans", serif;
}

.notion {
  @apply text-gray-800 dark:text-gray-200 font-medium;
}

.notion-text {
  font-family: "Open Sans", sans-serif !important;
}

.notion-h1,
.notion-h2,
.notion-h3 {
  font-family: "Roboto Slab", serif !important;
}

.notion-bookmark {
  @apply bg-gray-50 dark:bg-gray-50;
}

.notion-bookmark:hover {
  @apply dark:bg-gray-200;
}

.notion-image-caption {
  @apply text-gray-900 dark:text-gray-400;
}
